@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/foto1.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex:1;
    text-align: right;

}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336;
    transition: .7s;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1 {
    font-size: 62px;
}
.textbox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover
{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa {
    display: none;
}
@media (max-width:700px){
    .textbox h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    #navlinks {
        position: absolute;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;
    
    }
    nav .fa {
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}
/*-------Projektet-----------*/
.projektet{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.projektet h1{
    font-size: 36px;
    font-weight: 600;
    color: rgba(4,9,30,0.7);
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.projektetimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    
}
.projektetimg div {
    
    padding: 18px;
}
.projektet img {
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.85;
    padding:2px;
}
.projektet img:hover {
    width: 280px;
    height: 260px;
    opacity: 1;
    transition: 0.8s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width:700px){
    .projektetimg {
        width: 100%;
    }
    .projektetimg img {
        opacity:1;
    }
}
/************************Rreth nesh **************************/
.rrethnesh{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.rrethnesh h1{
    font-size: 36px;
    font-weight: 600;
    color: rgba(4,9,30,0.7);
}
.rrethnesh p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.rrethnesh-col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
}
.rrethnesh h3 {
    text-align: center;
    font-weight: 600px;
    margin: 10px 0;
}
.rrethnesh-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: 0.8s;
}
@media(max-width:700px){
    .row {
        flex-direction: column;
    }
}
/******************SHERBIMET********************/
.sherbimet {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:100px ;
}
.sherbimet-col {
    flex-basis:31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.sherbimet-col img {
    width: 70%;
    border-radius: 10px;
    height: 100px;
}
.sherbimet-col p {
    padding:0;
}
.sherbimet-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align:center;
}


/*****************Footer*************************/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
@media(max-width:700px)
{
    .footer-bottom p {
        font-size: 10px;
    }
    .footer-content p {
        font-size: 10px;
    }
}
/**********************Map***************************************/
.map iframe
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}
@media(max-width:700px){
    .map iframe {
        
        width: 100%;
    }
}



